@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    background-color: #F5F3EB; /* Adjust to match the site */
    font-family: 'Space Grotesk', sans-serif !important; /* <— updated font */
    color: #2D2A26;
}

.container {
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.table-container {
    height: calc(100vh - 150px); /* Adjust based on header height */
    overflow-y: auto;
    border-radius: 10px;
    background: white;
}
